<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="flex-start">
      <%= image_tag "LOGO.png", width: 40 %>
    </div>
    <div class="flex-end">
      <%= link_to 'Add new list', new_list_path, class:"btn btn-primary m-1" %>
      <%= link_to 'My lists', root_path, class:"btn btn-secondary m-1" %>
    </div>
  </div>
</div>
