<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="flex-start">
      <img width="80" src="https://img.freepik.com/premium-vector/click-movie-logo-vector_18099-258.jpg">
    </div>
    <div class="flex-end">
      <%= link_to 'Add new list', new_list_path, class:"btn btn-primary m-1" %>
      <%= link_to 'My lists', root_path, class:"btn btn-secondary m-1" %>
    </div>
  </div>
</div>
